
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Signika+Negative:wght@400;500&display=swap');

/* full body  */

/* for the name  */
/* font-family: 'Dancing Script', cursive;  */

/* fo others  */
/* font-family: 'Signika Negative', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #fbda61, #ff5acd);
}
.cardContainer{
    position:relative;
    height: 190px;
    width: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}
.cardContainer:hover{
    height: 450px;
}
.imgBox{
    position: absolute;
    background-color: #fff;
    height: 150px;
    width: 150px;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}
.cardContainer:hover .imgBox{
    height: 250px;
    width: 250px;
}
.imgBox img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

}